* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-family: 'Grechen Fuemen', cursive;
 }
 



 /* HEADER/TITULO */
 #titulo h1 {
    font-size: 65px;
    font-weight: 400;
    font-family: 'Press Start 2P', cursive;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgba(255, 255, 255, 0.664),
      0 0 40px #0ff,
      0 0 60px #0ff,
      0 0 70px #0ff,
      0 0 80px #0ff,
      0 0 120px #0ff;
  }
  
#titulo p {
  font-size: 30px;
}
  
#titulo p, #titulo h1 {
  color: #fff;
  margin-left: 3%;
}
  
  #titulo img {
      width: 150px;
  }

    /* TITULO NEON */
#titulo {
    width: 100%;
    height: 20vh;
}

#titulo {
  height: 15vh;  
  background: #222; 
  color: #fff;
  text-shadow: 2px 0 rgba(255,0,0,.9), -2px 0 rgba(0,0,255,.9);
  font-family: 'Source Code Pro';
  display: flex;
  flex-direction: column;
  justify-content: end;
  flex-wrap: wrap;

}
/* FIN TITULO NEON */


  /* ------------FIN HEADER--------------- */

  /* -------------MAIN------------- */
  /* ------FONDO-------- */
body {
    /* background-image: url(../assets/img/fondo2.jpg); */
    
    background-image: url(../assets/img/xxxxx.jpg);
    /* background-color: blue; */
    object-fit: contain;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
body {
    width: 100vw;
    height: 1080px;
}
main {
    width: 100%;
    height: 100%;
    display: flex;
}



/* NAVEGACION */
 nav {
     width: 30vw;
     height: 100vh;
     display: flex;
 }

ul.navfotos {
    display: flex;
    flex-direction: column;
    width: 9vw;
    height: 100%;
    margin-left: 4em ;
    margin-top: 13em;
}



nav img {
    width: 100%;
    transition: 0.6s;
}

 nav img:hover {
    transform: scale(1.1) translateX(-2em);
    
}


#home {
    width: 6vw;
    height: 6vh;
    margin: 0 0 2em 0;


}

#biografia, #contacto {
    margin: 2em 0 2em 0;
}

#portfolio {
    margin: 2em 0 10em 0;
}

#biografia, #contacto, #portfolio {
    width: 7vw;
    height: 7vh;
}



#portfolio img {
    width: 80%;
}

a {
    width: 100%;
    height: 100%;
}

#foto1 {
}

#foto2 {
    width: 90%;
}

ul.nombres {
    width: 10vw;
    display: flex;
    flex-direction: column;
    flex-direction: column;
    justify-content: center;
}

.nombres li {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 150px;
    height: 150px;
    opacity: 100%;
}

.nombres li:last-child {
    margin-bottom: 8em;
}

/* -------CAMBIAR EL NEON DE LA PESTAÑA EN LA QUE ESTOY-------- */
.nombres  p.nav4 {
    font-size: 27px;
    font-weight: 400;
    font-family: 'Press Start 2P', cursive;
    text-shadow:
      0 0 5px #fff,
      0 0 10px #fff,
      0 0 20px rgba(255, 255, 255, 0.664),
      0 0 40px #0ff,
      0 0 60px #0ff,
      0 0 70px #0ff,
      0 0 80px #0ff,
      0 0 120px #0ff;
}

ul.nombres li p {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 0.3rem 0.3rem black;
    transition: 0.5s;
    margin-left: 20px;
}

/* ------------------------------------------------------ */


section {
    width: 100%;
    height: 100%;
}

.apartado {
    height: 10vh;
    display: flex;
    justify-content: center;
}

.apartado h2 {
    font-size: 90px;
    color: rgb(255, 255, 255);
    font-family: 'Grechen Fuemen', cursive;text-shadow: 2px 0 rgba(255,0,0,.9), -2px 0 rgba(0,0,255,.9);
}

.doble {
    width: 100%;
    height: 54%;
    display: flex;
}

.doble1 {
    width: 30%;
}

.doble2 {
    width: 70%;
}

/* ----------FOTOS------- */

.contenedorfotos {
    width: 100%;
    height: 100%;

    
}

.columna {
    display: flex;
    width: 100%;
    height: 20em;
    margin-left: 13%;
}

.columna1 {
    margin-top: 6em;
}

.columna div {
    width: 20em;
    height: 14em;
    background-color: white;
    clip-path: circle(30% at center);
    transition: 2s;
    border: 2px solid black;
}

.columna div:hover {
    clip-path: circle(55% at center);
    border: 5px solid rgb(234, 0, 255);
}



.columna div img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}





